html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    width: 100%;
    background-image: rgb(231,210,255);
    background: radial-gradient(circle, rgba(231,210,255,1) 0%, rgba(168,159,252,1) 92%);
    color: white;
    line-height: 1.3;
}

li{
    color: black;
}